*:focus{
    outline: none;
}

body{
    background-color: #fff;
    text-align: center;
}

a{
    text-decoration: none;
}
.title{
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    background-color: #000;
    margin: 0px;
    padding: 30px 0px;
}

.searchForm{
    text-align: center;
    padding: 12px;
}

.searchInput{
    border-radius: 20px;
    padding: 5px 20px;
    width: 50%;
    border: 1px solid #000;
    color: rgb(75, 75, 75);
    font-size: 18px;
    margin: 5px;
}
.btn{
    background-color: blue;
    border: 1px solid #93329e;
    border-radius: 20px;
    color: #fff;
    font-size: 18px;
    margin: 5px;
    border: 0px;
    padding: 5px 20px;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    max-width: 1920px;
    margin: auto;
    justify-content: center;
}

.card{
    margin: 10px;
    width: calc(33% - 20px);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.thumbImg{
    background-color: rgb(194, 194, 194);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    width: 100%;
}

.modalContainer{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;  
    backdrop-filter: blur(4px);
}

.modal{
    margin: 0px auto;
    align-self: center;
    display: inline-block;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255);
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.8); 
    border-radius: 10px;
    text-align: center;
}

.modalImg{
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 20px;
    display: block;
    align-self: center;
    max-height: 90vh;
    max-width: 90vw;
}